@media (min-width: 768px) {

    .container-header,
    .container-tarefas,
    .container-minhas-tarefas,
    .footer {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .titulo {
        font-size: 1.5rem;
        text-align: center;
        padding: 1rem 0;
    }

    .subtitulo {
        font-size: 1rem;
        text-align: center;
        padding: 0.5rem 0;
    }

    .separador {
        margin: 1rem 0;
    }

    .container-tarefas,
    .container-minhas-tarefas {
        padding: 0.5rem;
        margin: 0;
    }

    .input-tarefa {
        padding: 0.8rem;
        font-size: 1rem;
    }

    .button-adicionar {
        padding: 0.9rem;
        font-size: 1.1rem;
    }

    .nav {
        display: flex;
        gap: 0.7rem;
        margin-bottom: 1rem;
    }

    .lista-de-tarefas {
        margin: 0.5rem 0 0 0;
        padding: 0.5rem 0;
    }

    .texto-tarefa {
        font-size: 1rem;
        text-align: center;
    }

    .tarefa {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .tarefa .texto-tarefa {
        font-size: 1.1rem;
    }

    .btn-concluir,
    .btn-remover {
        font-size: 1.1rem;
    }
}